@{
    ViewBag.Title = "Contact";
}
<h3>This Application is designed to make ur job at your store easy.<br></h3>

<p>Use this area to provide additional information.</p>


<h3>@ViewBag.Message</h3>

<address>https://github.com/DoNnMyTh<br>thevidshop.visualstudio.com<br><br></address>

<address>
    <strong>Developer:</strong>   <a href="mailto:Donnmyth@yandex.com">Donnmyth@yandex.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Donnmyth@icloud.com">Donnmyth@icloud.com</a>
</address>