@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table border="1" class="table" cellspacing="1" cellpadding="2">

    <thead>Movies Data</thead>
    <tr>
        <th>  Movies</th>

        <th> Number of copies</th>

        <th> Year of release</th>

        <th> Genre</th>
    </tr>
    <tbody>
        @foreach (var movies in Model)
        {
            <tr>
                <td>
                    @movies.Name
                </td>
                <td>
                    @movies.NumberOfMovies
                </td>
                <td>
                    @movies.YearOfRelease
                </td>
                <td>
                    @movies.GenreOfMovie
                </td>
            </tr>

        }
    </tbody>
</table>



