@model TheVidStore.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "Random Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var Movies in Model.Movie)
{
    <li>
        @Movies.Name
    </li>
}




