@model TheVidStore.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "Random Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Movies</h3>
<br />

<h4 class="@className">
    @foreach (var Movies in Model.Movie)
    {
        <li>
            @Movies.Name
        </li>
    }
</h4>