@model TheVidStore.Models.Customer


  @{
      ViewBag.Title = "Details";
      Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>
Name : @Model.Name <br />

Year Of Birth : @Model.Birthdate.Value.Year <br />

Is subscribes to news letter : @Model.IsSubscribedToNewsletter<br />



<button onclick="location.href='@Url.Action("Index", "customer")';return false;" class="btn btn-danger">Back</button>

