
@model TheVidStore.ViewModels.ByIdViewModel
@{
    ViewBag.Title = "SHHH.....";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

@foreach (var customer in Model.customer)
{<h5>
        @customer.Name
    </h5>
}
