@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table>
    <thead>
        Customers
    </thead>
    <tbody>
        @foreach (var customer in Model)
       {
         <tr>
            <td>
                @customer.Name
            </td>
        </tr>
       
        }
    </tbody>
</table>

